.panel-body(ng-show='rooms.length==0', ng-init='$root.title = " - Rooms"')
	div.text-center(ng-show='!loading') No rooms yet. 
		btn.btn.btn-default(ng-click='template.go("/chat/createroom")') Create room
	div.text-center(ng-show='loading') Loading rooms...
table.table.table-bordered.table-hover.table-responsive(ng-show='rooms.length>0')
	tr.info
		th.col-xs-3 Name
		th.col-xs-6 Description
		th.col-xs-2 Owner
		th.col-xs-1 Online
	tr(ng-repeat='room in rooms | orderBy: "-online"' action-on-finish)
		td
			a(href='', ng-click='openTab(room._id)', title='Join this room') {{room.name}}
			| 
			.glyphicon.glyphicon-lock(ng-show='room.protect', data-toggle='tooltip', title='This room is protected with password')
		td {{room.description}}
		td(ng-init='getUser(room.owner)') {{users[room.owner].username}}
		td.text-center {{room.online}}