extends layout

block content2
	.row(ng-controller='roomsDefaultCtrl' ng-cloak)
		.col-sm-8.col-sm-offset-2.col-xs-12
			.panel.panel-default
				.panel-heading
					h2 Rooms 
						a.btn.btn-default(href='/rooms/create') Create room
						.dropdown.pull-right
							.button.btn.btn-default.dropdown-toggle(id='optionsMenu', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
								|Options
								.span.caret
							ul.dropdown-menu(aria-labelledby='optionsMenu')
								li: a(href='/rooms/my') My rooms
								li.divider(role='separator')
								li: a(href='/logout') Logout
				.panel-body(ng-show='rooms.length==0')
					div.text-center(ng-show='rooms.length==0 && !loading') No rooms yet
					div.text-center(ng-show='loading') Loading rooms...
				table.table.table-bordered.table-hover.table-responsive(ng-show='rooms.length>0')
					tr.info
						th.col-xs-3 Name
						th.col-xs-6 Description
						th.col-xs-2 Owner
						th.col-xs-1 Online
					tr(ng-repeat='room in rooms | orderBy: "-online"')
						td
							a(href='', ng-click='tryJoinRoom(room)' title='Join this room') {{room.name}}
							| 
							.glyphicon.glyphicon-lock(ng-show='room.protect', title='This room is protected with password')
							form(ng-show='showForm[room._id] && room.protect')
								input.hidden(type='text')
								input.hidden(type='password')
								.input-group
									input.form-control(type='password', placeholder='Enter password', ng-model='pwd[room._id]')
									.input-group-btn
										button.btn.btn-success(ng-click='enterRoom(room)') &rsaquo;
						td {{room.description}}
						td {{room.owner}}
						td.text-center {{room.online}}