#mainWrapper
	.row
		.col-sm-6.col-sm-offset-2.col-xs-8
			#chatWrapper
				.panel.panel-default
					.panel-heading
						h3 ChatIO - {{username}}
					.panel-body
						#chatWindow(scroll-glue-bottom='checkScrollGlue()')
							.row
								.col-md-12
									div(ng-repeat='message in messages track by $index')
										div(ng-bind-html='formatMessage(message)')
						form#messageForm(ng-submit='submit(msg)', novalidate, name='messageForm')
							.form-group
								.input-group
									input.form-control#message(size=35, placeholder='Write message...', ng-model='msg', required)
									.input-group-btn
										button.btn.btn-info(type='submit') Say It!
						.row
							.col-xs-6.col-xs-offset-3
								button.btn.btn-default.form-control(ng-click='logout()') Logout
		.col-sm-2.col-xs-4
			#userWrapper
				.panel.panel-default
					.panel-heading
						.text-center Online
					.panel-body
						#users
							ul.list-unstyled
								li(ng-repeat='username in usernames') {{username}}