doctype html
html(ng-app='chatio')
	head
		title ChatIO
			if title
				| : #{title}
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		script(src='/javascripts/jquery.js')
		script(src='/javascripts/bootstrap.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/javascripts/angular.min.js')
		script(src='/javascripts/angular-route.min.js')
		script(src='/javascripts/angular-cookies.min.js')
		script(src='/javascripts/angular-resource.min.js')
		script(src='javascripts/scrollglue.js')
		script(src='javascripts/chatio.js')
		script(src='javascripts/routes.js')
		script(src='javascripts/controllers.js')
		script(src='javascripts/services.js')
	body
		.container
			ng-view