doctype html
html(ng-app='chatio')
	head
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title ChatIO
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/input-addon.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/animate-animo.min.css')
		script(src='/socket.io/socket.io.js')
		script(src='/javascripts/angular.min.js')
		script(src='/javascripts/angular-route.min.js')
		script(src='/javascripts/angular-cookies.min.js')
		script(src='/javascripts/angular-resource.min.js')
		script(src='/javascripts/angular-animate.min.js')
		script(src='/javascripts/jquery.js')
		script(src='/javascripts/bootstrap.min.js')
		script(src='/javascripts/ui-bootstrap.min.js')
		script(src='/javascripts/scrollglue.js')
		script(src='/javascripts/chatio.js')
		script(src='/javascripts/services.js')
		script(src='/javascripts/filters.js')
		script(src='/javascripts/controllers_index.js')
		script(src='/javascripts/controllers_rooms.js')
		script(src='/javascripts/controllers_myrooms.js')
		script(src='/javascripts/controllers_modals.js')
		script(src='/javascripts/controllers_room.js')
		script(src='/javascripts/controllers_private.js')
		script(src='/javascripts/jquery/bootstrap.js')
		script(src='/javascripts/fb_sdk.js')
		script(src='//vk.com/js/api/openapi.js')
		script(src='/javascripts/animo.min.js')
	body
		.container-fluid
			block content