extends layout

block content2
	.panel.panel-default#login(ng-controller='indexDefaultCtrl')
		.panel-heading
			h3.text-center Welcome!
		.panel-body
			form
				.container-fluid
					br
					.form-group
						.row
							.col-sm-6.col-sm-offset-3
								a.btn.btn-login.form-control(href='/signup') Join us
					.form-group
						.row
							.col-sm-6.col-sm-offset-3
								a.btn.btn-login.form-control(href='/signin') Sign In
					.form-group.pull-right
						label Login via: 
						a(href='', ng-click='fb_login()'): img.signin(src='/images/signin/fb.png', width=24)
						a(href='', ng-click='vk_login()'): img.signin(src='/images/signin/vk.png', width=24)