extends layout

block content2
	.panel.panel-default(ng-controller='indexDefaultCtrl')
		.panel-heading
			h2 Welcome to chat!
		.panel-body
			form
				.form-group
					label Join us! 
					a.btn.btn-info.form-control(href='/signup') Sign Up
				br
				.form-group
					label Already have an account? 
					a.btn.btn-success.form-control(href='/signin') Sign In
				.row
					.col-xs-6
						btn.btn.btn-info.form-control(ng-click='fb_login()') Login via FB
					.col-xs-6
						btn.btn.btn-info.form-control(ng-click='vk_login()') Login via VK