extends layout

block content
	form
		.form-group
			label Join us! 
			a.btn.btn-info.form-control(href='#/signup') Sign Up
		br
		.form-group
			label Already have an account? 
			a.btn.btn-success.form-control(href='#/signin') Sign In
		.form-group
			button.btn.btn-info.form-control(ng-click='FB.login()') Login via Facebook