extends layout

block content2
	.panel.panel-default#login
		.panel-heading
			h3 Registration
				.pull-right
					include backBtn
		.panel-body
			include ../errors
			form(method='post', action='/signup', name='signupForm' autocomplete='off')
				input.hidden
				input.hidden(type='password')
				.form-group
					label Login
					input.form-control(type='text', name='login', value='#{login}', ng-model='login')
				.form-group
					label Username (will be visible, login is used by default)
					input.form-control(type='text', name='username', value='#{username}', placeholder='{{login}}')
				.form-group
					label Password
					input.form-control(type='password', name='password')
				.form-group
					label Re-enter the password
					input.form-control(type='password', name='password2')
				.row
					.col-sm-6.col-sm-offset-3
						.form-group
							button.btn.btn-login.form-control(type='submit') Sign Up