extends layout

block content2
	.panel.panel-default
		.panel-heading
			h2 Logging in
				.pull-right
					include backBtn
		.panel-body
			include ../errors
			form(method='post', action='/signin')
				.form-group
					input.form-control(type='text', name='login', placeholder='Login')
				.form-group
					input.form-control(type='password', name='password', placeholder='Password')
				.form-group
					button.btn.btn-success.form-control(type='submit') Sign In